# Directories to ignore
__pycache__/
tmp/
output/
consent-extension/
.config/
.git/
.local/
.pki/
.wdm/
.cache/


# Files to ignore
*checker.py
crawler.py
*2023.csv
**/.DS_Store
*.log

# Ignored website: Not supported for UK
# 188,tds.net,True
# 1002,inc.com,True (CAPTCHA)
# 1349,gda.pl,True
# 1363,realtor.com,True (CAPTCHA)
# 1398,chron.com,True (CAPTCHA)
# 1672,iheart.com,True
# 1678,nydailynews.com,True
# 1684,vnexpress.net,True
# 1939,rr.com,True
