# Directories to ignore
__pycache__/
tmp/
output/
consent-extension/


# Files to ignore
*checker.py
crawler.py
*2023.csv
**/.DS_Store
*.log

# Ignored website
# 188,tds.net,True
# 1684,vnexpress.net,True

# Not supported for UK
# gda.pl
# iheart.com
# nydailynews.com
# rr.com